<!DOCTYPE html>
@using DaZhongManagementSystem.Entities.TableEntity;
@{
//var code = ViewBag.code;
//var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
//var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
//var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");
//List<string> ownedCompanyList = ViewBag.PersonInfo;

//List<int> statusList = ViewBag.answerStatus;
//var fleetList = ViewBag.MotorcadeName;
}

<style>
    .imgjiantou {
        top: 12px !important;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/swiper-3.3.1.min.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/index2.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/iconfont/iconfont.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/PartnerInquiryStyle.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/NewPartnerHomePage.css")" rel="stylesheet" />
</head>
<body style="background-image: linear-gradient(#fff, #00000033);">
    <div style="width:100%;font-size:12px;position: relative;height: 520px;">
        <table style="width:100%;margin-top: 5px;">
            <tr>
                <td>
                    <span style="font-size: 20px;margin-left: 10px;font-weight:bold;">司机管理</span>
                    <div id="u235" class="ax_default droplist" style="float: right;margin-right: 20px;margin-top: 5px;">
                        <select id="u235_input" class="u235_input" style="width:100px"></select>
                    </div>
                </td>
            </tr>
        </table>
        <div style="width:100%;margin-top: 10px;background:#fff;height:110px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 18px;margin-left: 10px;font-weight:bold;">司机计分</span>
                        <div id="Page1" class="" style="float: right;margin-right: 10px;margin-top: 0px;font-size: 20px;">
                            >
                        </div>
                    </td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 45px;text-align:center;">
                <tr>
                    <td style="width:33%">记12分司机数</td>
                    <td style="width:33%">8-11分司机数</td>
                    <td style="width:33%">0分司机数</td>
                </tr>
                <tr style="height: 35px;">
                    <td><label id="value1"></label></td>
                    <td><label id="value2"></label></td>
                    <td><label id="value3"></label></td>
                </tr>
            </table>
        </div>
        <div style="width:100%;margin-top: 10px;background:#fff;height:110px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 18px;margin-left: 10px;font-weight:bold;">岗中培训司机数</span>
                        <div id="Page2" class="" style="float: right;margin-right: 10px;margin-top: 0px;font-size: 20px;">
                            >
                        </div>
                    </td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 45px;text-align:center;">
                <tr>
                    <td style="width:33%">已答题</td>
                    <td style="width:33%">已阅未答题</td>
                    <td style="width:33%">未阅未答题</td>
                </tr>
                <tr style="height: 35px;">
                    <td><label id="value4"></label></td>
                    <td><label id="value5"></label></td>
                    <td><label id="value6"></label></td>
                </tr>
            </table>
        </div>
    </div>

    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
    <script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/driverManagement.js")"></script>
</body>
</html>