<!DOCTYPE html>
@{
    //var code = ViewBag.code;
    //var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
    //var exerciseVguid = ViewBag.exerciseVguid;
    //var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
    //var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");

    //List<string> ownedCompanyList = ViewBag.PersonInfo;
    //var fleetList = ViewBag.MotorcadeName;
}

<style>
    .imgjiantou {
        top: 12px !important;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/swiper-3.3.1.min.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/index2.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/iconfont/iconfont.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/PartnerInquiryStyle.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/_theme/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqwidgets/styles/jqx.base.css")" />
    <link rel="stylesheet" href="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqwidgetsExtensions/jqxext.css")" />
    <link href="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqx.office.css")" rel="stylesheet" />

</head>
<body>
    <!--头部-->
    <header></header>
    <div>
        <!--中间内容-->
        <div id="u263" class="ax_default" data-label="车队筛选" data-left="68" data-top="71"  data-height="20">

            <!-- Unnamed (Droplist) -->
            <div id="u264" class="ax_default droplist">
                <div id="u264_div" class=""></div>
                <select id="u264_input" class="u264_input">
                    @*@for (int i = 0; i < ownedCompanyList.Count; i++)
                    {
                        <option class="u264_input_option" selected="" value="@ownedCompanyList[i]">@ownedCompanyList[i]</option>
                    }*@
                    @*<option class="u264_input_option" value="@fleetList">@fleetList</option>*@
                </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u265" class="ax_default _标题_3">
                <div id="u265_div" class=""></div>
                <div id="u265_text" class="text ">
                    <p><span>车队：</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u266" class="ax_default">
            <div id="PointsList" class="jqxTable" style=""></div>
        </div>

        <!-- 搜索车辆 (Group) -->
        <div id="u276" class="ax_default" data-label="搜索车辆" data-left="20" data-top="100"  data-height="30">
            <!-- Unnamed (Rectangle) -->
            <div id="u277" class="ax_default box_1">
                <input id="SearchByName" type="text" style="margin: 0px 20px;" class="input_text form-control" placeholder="输入姓名搜索" />
            </div>
        </div>
    </div>


    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.ui.touch-punch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.slimscroll.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.easy-pie-chart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.sparkline.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqwidgets/jqx-all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/ejq.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/_js/tool.js")"></script>
    <script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/swiper-3.3.1.jquery.min.js")"></script>
    @*<script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/11111.js")"></script>*@
    <script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/app.js")"></script>
    <script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/driverPointsDetails.js")"></script>

</body>
</html>


@*<!-- Unnamed (Table Cell) -->
    <div id="u267" class="ax_default table_cell">
        <img id="u267_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u267.png?token=594f859454dce8a7116e3e2613aab34b73edb300087c5f756e39a116ca7e838b">
        <div id="u267_text" class="text ">
            <p><span>司机ID</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u268" class="ax_default table_cell">
        <img id="u268_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u267.png?token=594f859454dce8a7116e3e2613aab34b73edb300087c5f756e39a116ca7e838b">
        <div id="u268_text" class="text ">
            <p><span>司机姓名</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u269" class="ax_default table_cell">
        <img id="u269_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u269.png?token=1ebd034870514040fb55138c2126b0c1f77de7b544ad1deb462052ace8ed3130">
        <div id="u269_text" class="text ">
            <p><span>已扣分数</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u270" class="ax_default table_cell">
        <img id="u270_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u267.png?token=594f859454dce8a7116e3e2613aab34b73edb300087c5f756e39a116ca7e838b">
        <div id="u270_text" class="text ">
            <p><span>XXXXX</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u271" class="ax_default table_cell">
        <img id="u271_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u267.png?token=594f859454dce8a7116e3e2613aab34b73edb300087c5f756e39a116ca7e838b">
        <div id="u271_text" class="text ">
            <p><span>XXX</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u272" class="ax_default table_cell">
        <img id="u272_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u269.png?token=1ebd034870514040fb55138c2126b0c1f77de7b544ad1deb462052ace8ed3130">
        <div id="u272_text" class="text ">
            <p><span>12</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u273" class="ax_default table_cell">
        <img id="u273_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u273.png?token=dee07ded2b67e05b89fbe5ff3cd1b6536815408bbba569e621ff1d236c9bcdbf">
        <div id="u273_text" class="text ">
            <p><span>XXXXX</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u274" class="ax_default table_cell">
        <img id="u274_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u273.png?token=dee07ded2b67e05b89fbe5ff3cd1b6536815408bbba569e621ff1d236c9bcdbf">
        <div id="u274_text" class="text ">
            <p><span>XXX</span></p>
        </div>
    </div>

    <!-- Unnamed (Table Cell) -->
    <div id="u275" class="ax_default table_cell">
        <img id="u275_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/SPKXE1/a5/b4/ed/a5b4edee3b764f3a86defb6328e5a5ed/images/司机积分明细/u275.png?token=b3f5e167112ddb8ccfc661ecbea361bb44699511f9cb5893f3fe9fd3b9037fce">
        <div id="u275_text" class="text ">
            <p><span>10</span></p>
        </div>
    </div>*@