<!DOCTYPE html>
@{
//var code = ViewBag.code;
//var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
//var exerciseVguid = ViewBag.exerciseVguid;
//var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
//var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");
//var pushContentVguid = ViewBag.pushContentVguid;//推送内容Vguid
//var answerCount = ViewBag.answerCount;//答题次数
}

<style>
    .label {
        color: #0a0a0a !important;
    }

    .mainCheck {
        border-width: 0px;
        width: 97%;
        font-size: 12px;
        margin-left: 5px;
    }

    .mainlabel {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 1px;
        width: 238px;
    }
</style>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/NewPartnerHomePage.css")" rel="stylesheet" />
</head>
<body style="background-color: #fff;">
    <div style="width:100%;font-size:12px;position: relative;">
        <table style="width:100%;">
            <tr style="font-size: 20px;">
                <td style="font-weight: bold;">
                    检查排期
                </td>
            </tr>
        </table>
        <input id="SearchByCarID" type="text" style="width: 93%;" class="searchInput" placeholder="输入车牌号搜索" />
        <table style="width:100%;color: gray;text-align: center;margin-top: 10px;">
            <tr style="font-size: 14px;font-weight: bold;">
                <td style="width:33%">
                    <select id="FleetSelect" class="selectCheck"></select>
                </td>
                <td style="width:33%">
                    <select id="MaintainType" class="selectCheck">
                        <option value="0">全部-类型</option>
                        <option value="1">1级保养</option>
                        <option value="2">2级保养</option>
                        <option value="3">3级保养</option>
                        <option value="4">验车</option>
                        <option value="5">计价器强检</option>
                    </select>
                </td>
                <td style="width:33%">
                    <select id="MaintainStatus" class="selectCheck">
                        <option value="">全部-状态</option>
                        <option value="0">未过期</option>
                        <option value="1">已过期</option>
                    </select>
                </td>
            </tr>
        </table>
        <div id="newMaintainData2">

        </div>
    </div>
</body>
<script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
<script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/checkScheduling.js")"></script>



<input id="hideKey" type="type" name="name" value="@ViewBag.Key" class="hide" style="display:none" />
</html>