@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sysRoleList = ViewData["SysRoleList"] as List<Sys_Role>;
    var companyList = ViewData["CompanyList"] as List<Master_Organization>;
    var departmentList = ViewBag.DepartmentList as List<Master_Organization>;
    var sysUserModel = ViewBag.UserInfo as Sys_User;

    bool isEdit = ViewBag.isEdit;
    if (isEdit)
    {
        ViewBag.Title = "编辑用户信息";
    }
    else
    {
        ViewBag.Title = "新增用户信息";
    }
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@using DaZhongManagementSystem.Entities.TableEntity;

@*页面标题*@
@section pageTitle{
    @ViewBag.Title
}

@*JS*@
@section js{
    <script src="@Url.Content("~/Areas/Systemmanagement/Views/_js/UserManagementDetail.js")"></script>
}

@*css*@
@section css{

}

<table style="margin-top: 10px;">
    <tr style="height: 50px;">
        @if (currentModuleRolePermission.Adds == 1 || currentModuleRolePermission.Edit == 1)
        { 
            <td style="width: 95px;">
                <button id="btnSave" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe614;</i><span style="margin-left: 7px; float: left;">保存</span></button>
            </td>
        }
        <td style="width: 95px;">
            <button id="btnCancel" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe611; </i><span style="margin-left: 7px; float: left;">取消</span></button>
        </td>
    </tr>
</table>


<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">用户信息</span></div>
    </div>
    <div class="body_mk" style="height: 290px;">
        <form id="frmtable" class="form">
            <table id="message" style="margin-top: 20px; margin-left: 20px;">
                <tr style="height: 50px;">
                    <td style="text-align: right; width: 90px;">用户登录名：</td>
                    <td style="width: 210px;">
                        <input id="loginName_Input" name="LoginName" type="text" class="input_text form-control" validatetype="required" style="text-align: left;" value="@sysUserModel.LoginName" />
                    </td>
                    <td align="center" style="width: 10px;"><span style="color: red; margin-left: 5px;">*</span></td>
                    <td style="text-align: right; width: 90px;">是否启用：</td>
                    <td style="width: 210px;">
                        <select id="enable_Input" name="Enable" class="input_text form-control">
                            @{
                                if (sysUserModel.Enable == "1")
                                {
                                <option value="1" selected="selected">启用</option>
                                <option value="0">禁用</option>
                                }
                                else if (sysUserModel.Enable == "0")
                                {
                                <option value="1">启用</option>
                                <option value="0" selected="selected">禁用</option>
                                }
                                else
                                {
                                <option value="1" selected="selected">启用</option>
                                <option value="0">禁用</option>
                                }
                            }

                        </select>
                    </td>
                    <td align="center" style="width: 10px;"><span style="color: red; margin-left: 5px;">*</span></td>
                    <td style="text-align: right; width: 75px;">邮箱：</td>
                    <td>
                        <input id="email_Input" name="Email" type="text" maxlength="145" class="input_text form-control"  style="text-align: left" value="@sysUserModel.Email"/>
                    </td>
                    <td align="center" style="width: 10px;"></td>
                </tr>
                <tr style="height: 50px;">
                    <td style="text-align: right">手机号：</td>
                    <td>
                        <input id="mobilePhone_Input" name="MobileNnumber" type="text" maxlength="95" class="input_text form-control" validatetype="required,phone" style="text-align: left" value="@sysUserModel.MobileNnumber" />
                    </td>
                    <td align="center" style="width: 10px;"><span style="color: red; margin-left: 5px;">*</span></td>
                    @*                 <td style="text-align: right">公司：</td>
                    <td>
                        <select id="company_Input" validatetype="required" name="Company" class="input_text form-control">
                            <option value="">===请选择===</option>
                            @{
                                foreach (var item in companyList)
                                {
                                    if (sysUserModel.Company == item.Vguid.ToString())
                                    {
                                <option value="@item.Vguid" selected="selected">@item.OrganizationName</option>
                                    }
                                    else
                                    {
                                <option value="@item.Vguid">@item.OrganizationName</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                    <td align="center" style="width: 10px;"><span style="color: red; margin-left: 5px;">*</span></td>*@
                    <td style="text-align: right">部门：</td>
                    <td>
                        <div id="pushPeopleDropDownButton" class="input_text form-control">
                            <div style="" id="pushTree">
                            </div>
                        </div>
                        @*  <select id="department_Input" validatetype="required" name="Department" class="input_text form-control">
                            @{
                                if (isEdit)
                                {
                                    foreach (var item in departmentList)
                                    {
                                        if (sysUserModel.Department == item.Vguid.ToString())
                                        {
                                            <option value="@item.Vguid" selected="selected">@item.OrganizationName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Vguid">@item.OrganizationName</option>
                                        }
                                    }
                                }    
                            }
                        </select>*@
                    </td>
                    <td align="center" style="width: 10px;"><span style="color: red; margin-left: 5px;">*</span></td>
                    <td style="text-align: right">角色：</td>
                    <td>
                        <select id="role_Input" name="Role" validatetype="required" class="input_text form-control">
                            <option value="">===请选择===</option>
                            @{
                                foreach (var item in sysRoleList)
                                {
                                    if (sysUserModel.Role == item.Vguid.ToString())
                                    {
                                <option value="@item.Vguid" selected="selected">@item.Role</option>
                                    }
                                    else
                                    {
                                <option value="@item.Vguid">@item.Role</option>
                                    }
                                }
                            }
                        </select>
                    </td>

                    <td align="center" style="width: 10px;"><span style="color: red; margin-left: 5px;">*</span></td>

                </tr>
                @*        <tr style="height: 50px;">
                   
                    <td></td>
                    <td align="center" style="width: 10px;"></td>
                </tr>*@
                <tr style="height: 50px;">
                    <td style="text-align: right">备注：</td>
                    <td colspan="8" style="width: 210px;">
                        <textarea id="remark_Input" name="Remark" style="width: 98.5%;" maxlength="300" rows="5" class="description form-control">@sysUserModel.Remark</textarea>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="Vguid" name="Vguid" value="@sysUserModel.Vguid" />
            
            <input id="DepartmentVguid" name="Department" value="@sysUserModel.Department" type="hidden" />
            <input id="PersonnelVguid" value="" type="hidden" />
        </form>
        <input type="hidden" id="isEdit" value="@isEdit" />

    </div>
</div>
