<!DOCTYPE html>
@{
    var date = ViewBag.Date;
    //var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
    //var exerciseVguid = ViewBag.exerciseVguid;
    //var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
    //var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");

    var fleetList = ViewBag.MotorcadeName;
}
<style>
    .carCheck {
        border-width: 0px;
        width: 150px;
        font-size: 12px; /*position:absolute; left:0px; top:43px;*/
    }

    .violCheck {
        border-width: 0px;
        width: 100%;
        font-size: 12px; /*position:absolute; left:0px; top:43px;*/
    }

    .mainCheck {
        border-width: 0px;
        /*width: 98%;*/
        font-size: 12px; /*position:absolute; left:0px; top:43px;*/
    }

    #u76 {
        position: absolute;
    }


    .carlabel {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 10px;
    }

    .viollabel {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 10px;
        width: 280px;
    }

    .mainlabel {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 10px;
        width: 280px;
    }

    #newMaintainData {
        position: absolute;
        margin-top: 40px;
        /*background-color: rgba(242, 242, 242, 1) !important;*/
        width: 100%;
    }

    #newViolationData {
        position: absolute;
        margin-top: 40px;
        width: 100%;
    }

    #qstyle {
        position: absolute;
        margin-top: 140px;
        text-align: center;
        width: 100%;
    }
</style>


<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/NewPartnerHomePage.css")" rel="stylesheet" />

</head>
<body style="background-image: linear-gradient(#fff, #00000033);">

    <div style="width:100%;font-size:12px;position: relative;">
        <table style="width: 100%;">
            <tr style="font-size: 20px;">
                <td style="font-weight: bold;">
                    <label id="Month"></label>/<label id="Day"></label>&nbsp;&nbsp;<label id="Week"></label>
                </td>
            </tr>
            <tr>
                <td>
                    出租车数据监控
                </td>
            </tr>
        </table>
        <table style="width:100%;margin-top: 10px;">
            <tr>
                <td style="width:33%"><div id="Page1" class="txtFont" style="color:#fff; background:#ef3333;">营运数据</div></td>
                <td style="width:33%"><div id="Page2" class="txtFont" style="color:#fff; background:rgba(22, 155, 213, 1);">司机管理</div></td>
                <td style="width:33%"><div id="Page3" class="txtFont" style="color:#fff; background:#2c4c7b;">车辆管理</div></td>
            </tr>
            <tr>
                <td style="width:33%"><div id="Page4" class="txtFont" style="color:#fff; background:#65e0e0;">检查排班</div></td>
                <td style="width:33%"><div id="Page5" class="txtFont" style="color:#fff; background:rgba(19, 214, 45, 1);display:none">缴费信息</div></td>
                <td style="width:33%"><div class="txtFont"></div></td>
            </tr>
        </table>
        <div style="width:100%;margin-top: 10px;background:#fff;height:210px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 20px;margin-left: 10px;font-weight:bold;">营运日报</span>&nbsp;&nbsp;(<label id="YesterDays"></label>)
                        <div id="u74" class="ax_default droplist" style="float: right;margin-right: 10px;margin-top: 5px;">
                            <select id="u74_input" class="u74_input" style="width: 100px;" size="0"></select>
                        </div>
                    </td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 50px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value1" class="valueA"></label></td>
                    <td style="width:5%"></td>
                    <td style="width:20%"><label id="value3" class="valueA"></label></td>
                    <td style="width:5%"></td>
                    <td style="width:20%"><label id="value5" class="valueA"></label></td>
                </tr>
                <tr>
                    <td><label id="value2" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value4" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value6" class="valueB"></label></td>
                </tr>
                <tr>
                    <td class="valueC">上线司机数</td>
                    <td></td>
                    <td class="valueC">上线车辆数</td>
                    <td></td>
                    <td class="valueC">完单数</td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 135px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value7" class="valueA"></label></td>
                    <td style="width:5%"></td>
                    <td style="width:20%"><label id="value9" class="valueA"></label></td>
                    <td style="width:5%"></td>
                    <td style="width:20%"><label id="value11" class="valueA"></label></td>
                </tr>
                <tr>
                    <td><label id="value8" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value10" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value12" class="valueB"></label></td>
                </tr>
                <tr>
                    <td class="valueC">车均营收</td>
                    <td></td>
                    <td class="valueC">车均差次</td>
                    <td></td>
                    <td class="valueC">车均在线时长</td>
                </tr>
            </table>
        </div>
        <div style="width:100%;margin-top: 10px;background:#fff;height:135px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 20px;margin-left: 10px;font-weight:bold;">车辆检查排期</span>
                        <div id="Page6" class="ax_default countFont" style="">
                            <label id="vehicleCount"></label><span>></span>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="newMaintainData"></div>
        </div>
        <div style="width:100%;margin-top: 10px;background:#fff;height:180px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 20px;margin-left: 10px;font-weight:bold;">未处理违章</span>
                        <div id="Page7" class="ax_default countFont" style="">
                            <label id="violationCount"></label><span>></span>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="newViolationData"></div>
        </div>
    </div>

    <!--头部-->
    @*<div id="qstyle" style="@qstyleString">你无权限访问当前页面</div>*@

    <input id="hideCode" type="type" name="name" value="@ViewBag.Code" class="hide" style="display:none" />
    <input id="hideFleet" type="type" name="name" value="@fleetList" class="hide" style="display:none" />
    <input id="HideDateSearch" type="type" name="name" value="" class="hide" style="display:none" />

    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
    <script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/partnerHomePage.js")"></script>
</body>
</html>