<!DOCTYPE html>
@using DaZhongManagementSystem.Entities.TableEntity;
@{
    Business_SurveyVaccination bsv = Model as Business_SurveyVaccination;
    string startDate = "";
    string endDate = "";
    if (bsv.VGUID != Guid.Empty)
    {
        startDate = bsv.FirstDate == null ? "" : bsv.FirstDate.Value.ToString("yyyy-MM-dd");
        endDate = bsv.SecondDate == null ? "" : bsv.SecondDate.Value.ToString("yyyy-MM-dd");
    }
    //string driving = "0" == "1" ? "checked=\"checked\"" : "";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="@Url.Content("~/Areas/RideCheckFeedback/Views/_css/weui.min.css")"> <!-- jquery weui 插件 -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/RideCheckFeedback/Views/_css/layui.css")"> <!-- layui 插件 -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/RideCheckFeedback/Views/_css/jquery-weui.min.css")"> <!-- jquery weui 插件 -->
    <link rel="stylesheet" href="@Url.Content("~/Areas/RideCheckFeedback/Views/_css/layer.css")" id="layui_layer_skinlayercss" style="">  <!-- layui 插件 -->
    <script type="text/javascript" src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/hs/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/hs/jquery-weui.min.js")"></script> <!-- jquery weui 插件 -->
    <script type="text/javascript" src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/hs/swiper.min.js")"></script> <!-- jquery weui 插件 -->
    <script type="text/javascript" src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/hs/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/hs/layer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/hs/layui.js")"></script>  <!-- layui 插件 -->
    <style>
        body {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .weui-form-preview__label {
            color: black;
            margin-right: 0px;
            margin-bottom: 5px;
        }

        .demos-title {
            text-align: center;
            font-size: 22px;
            color: black;
            font-weight: 600;
            margin: 0 13%;
        }

        .demos-bottom {
            text-align: center;
            font-size: 17px;
            color: black;
            font-weight: 600;
            margin: 5px 13%;
        }

        .demos-header {
            padding: 6px 0;
            background-color: #F9F9F9;
        }

        .weui-label {
            /*text-align: right;*/
            width: 148px;
        }

        input[type="date"]:before {
            content: attr(placeholder);
            color: #757575;
        }

        .weui-cells {
            margin-top: 0px;
        }

            .weui-cells:after, .weui-cells:before {
                border: 0px;
            }

        .weui-cell:before {
            border: 0px;
        }

        hr {
            margin: 5px 0px;
        }

        .weui-input {
            height: 2em;
            width: 90% !important;
        }

        .weui-cells_driving {
            font-size: 14px;
            color: #76776f;
        }
        #deletebtn {
            height: 80px;width: 26px;float: right;margin-top: 10px;font-size:20px;margin-right: 20px
        }
    </style>
</head>
<body ontouchstart="" style="">
    <header class="demos-header">
        <h2 class="demos-title">新冠疫苗接种情况调查</h2>
    </header>
    <div class="weui-cells weui-cells_form" id="root">
        <hr style="height:0px">
        <input id="Vguid" type="hidden" value="@bsv.VGUID" />
        <input id="CreatedUser" type="hidden" value="@bsv.CreatedUser" />
        <input id="UserID" type="hidden" value="@bsv.UserID" />
        <input id="Attachment" type="hidden" value="@bsv.Attachment" />
        @*<input id="OrganizationName" type="hidden" value="@bsv.OrganizationName" />
        <input id="Fleet" type="hidden" value="@bsv.Fleet" />*@
        <!-- 车牌号码 -->
        <div class="weui-cell" style="display:none">
            <div class="weui-cell__hd">
                <label class="weui-label">车牌号码<font style="color:red"> *</font>：</label>
            </div>
            <div class="weui-cell__bd">
                <label style="width: 33px;display: inline-block;">沪</label>
                <input class="weui-input" value="" style="width: 80%" type="text" id="cphm" maxlength="6" placeholder="请输入车牌号码" onkeyup="value = value.replace(/[\W]/g, '') ">
            </div>
        </div>

        <!-- 姓名 -->
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label" style="text-align: left;margin-left: 10px;width: 75px;">姓名<font style="color:red"> *</font>：</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="@bsv.Name" type="text" id="name" readonly="readonly" placeholder="请输入姓名">
            </div>
        </div>
        <hr>
        <!-- 接种新冠疫苗情况-->
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label" style="width:190px;margin-left: 0">您是否已接种新冠疫苗：</label>
            </div>
            <div class="weui-cell__bd">
                <select class="" style="width: 50%;margin-left: 20px;" name="check_2020" onchange="checkChanage()" id="check_2020">
                    @if (bsv.IsInoculation == "1")
                    {
                        <option value="1" selected>否</option>
                        <option value="0">是</option>
                    }
                    else
                    {
                        <option value="0" selected>是</option>
                        <option value="1">否</option>
                    }
                </select>
            </div>
        </div>
        <!-- 接种情况 -->
        <div class="weui-cell ishide">
            <div class="weui-cell__hd">
                <label class="weui-label">第一次接种日期<font style="color:red"> *</font>：</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="date" value="@startDate" id="FirstDate" onchange="dateChanage(this,'请选择接种日期')">
            </div>
        </div>
        <div class="weui-cell ishide">
            <div class="weui-cell__hd">
                <label class="weui-label" style="">第一次接种地点<font style="color:red"> *</font>：</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="@bsv.FirstAddress" type="text" id="FirstAddress" placeholder="请输第一次接种地点">
            </div>
        </div>

        <div class="weui-cell ishide">
            <div class="weui-cell__hd">
                <label class="weui-label">第二次接种日期：</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="date" value="@endDate" id="SecondDate" onchange="dateChanage(this,'请选择接种日期')">
            </div>
        </div>
        <div class="weui-cell ishide">
            <div class="weui-cell__hd">
                <label class="weui-label" style="">第二次接种地点：</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" value="@bsv.SecondAddress" type="text" id="SecondAddress" placeholder="请输第二次接种地点">
            </div>
        </div>
        <div class="weui-cell ishide">
            <div class="weui-cell__hd">
                <label class="weui-label" style="width: 122px;">上传附件<font style="color:red"> *</font>：</label>
            </div>
            <div class="weui-cell__bd">
                <input type="file" multiple name="importFile" class="input_text form-control" id="importFile" accept="image/*" onchange="imageUpload(this)" />
            </div>
        </div>
        <div class="weui-cell ishide">
            <div id='imageInfo' class="weui-cell__bd" style="text-align: center;">
                @if (bsv.Attachment != "" && bsv.Attachment != null)
                {
                    var urlList = bsv.Attachment.Split(new char[1] { ';' });
                    foreach (var item in urlList)
                    {
                        if (item != "" && item != null)
                        {
                            <img class='imageInoculation' style='width: 150px;height: 100px;' src='@item' />
                        }
                    }
                }
            </div>
        </div>

        <div class="weui-cell ishide">
            <div class="weui-cell__hd" style="width:100px">
                <label class="weui-label" style="">示例图片：</label>
            </div>
            <div class="weui-cell__bd" style="font-size:12px;margin-left: 5%;color: red;">
                附件图片来源:打开健康云APP，点击"接种记录",进行截图并上传。
            </div>
        </div>
        <div class="weui-cell ishide">
            <div id='' class="weui-cell__bd" style="text-align: center;">
                <img class='imageInoculation' onclick="imgShow('#outerdiv', '#innerdiv', '#bigimg', $(this));" style='width: 100px;height: 150px;' src='/UpLoadFile/SurveyVaccination/接种记录示例.jpg' />
            </div>
        </div>
        <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
            <div id="innerdiv" style="position:absolute;">
                <img id="bigimg" style="border:5px solid #fff;" src="" />
            </div>
        </div>    
        <hr>
        <div class="weui-cell" style="font-size:14px;margin-left: 5%;color: red;">
            * 本人郑重承诺以上所填信息属实，一切后果由本人承担。
            @*<div class="weui-cell__hd">

                </div>*@
        </div>
        <hr>
        <div class="weui-footer" style="margin-top: 5%;">
            <button type="button" id="sumbit" onclick="sumbit()" class="layui-btn layui-btn-lg layui-btn-normal" style="width:75%">提交</button>
        </div>
        <script>
            var imgFile = [];
            //上传图片
            function imageUpload(event) {
                //if ($(".imageInoculation").length == 2) {
                //    alert("只能上传张图片,请先清除");
                //    return;
                //}
                var fil = event.files;
                if (fil.length > 1) {
                    alert("只能上传一张图片");
                    return;
                }
                reads(fil[0]);
                imgFile.push(fil[0]);
                //if (fil.length > 0 && $("#deletebtn").length == 0) {
                //    $("#imageInfo").append("<button id='deletebtn' style='' onclick='deleteFun()'>×</button>");
                //}
            }
            function reads(fil) {
                $("#imageInfo").empty();
                var reader = new FileReader();
                reader.readAsDataURL(fil);
                reader.onload = function () {
                    //&nbsp;&nbsp;<span onclick='deleteFun("+ i +")' style='font-size: 30px;color: red;'>×</span>
                    $("#imageInfo").append("<img class='imageInoculation' style='width: 150px;height: 100px;' src='" + reader.result + "'>");
                };
            }

            function deleteFun() {
                $("#imageInfo").empty();
            }
            //时间框提示文字
            function dateChanage(item, placeholder) {
                if ($(item).val() != "") {
                    $(item).removeAttr('placeholder');
                } else {
                    $(item).attr('placeholder', placeholder);
                }
            }
            //check框改变事件
            function checkChanage() {
                var val = $("#check_2020").val();
                if (val == "1") {
                    $(".ishide").hide();
                } else {
                    $(".ishide").show();
                }
            }
            if ('@bsv.IsInoculation' == "1") {
                checkChanage()
            }

            function sumbit() {
                if ($("#name").val() == "") {
                    layer.msg('请输入姓名', { time: 1000 });
                    return;
                }
                //if ($("#check_2020").is(":checked") == false && $("#to_2020").val() == "") {
                //    layer.msg('请选择' + year + '年返乡日期', { time: 1000 });
                //    return;
                //}
                var isInoculation = $("#check_2020").val();
                var firstDate = $("#FirstDate").val();
                var firstAddress = $("#FirstAddress").val();
                var imageIndex = $(".imageInoculation").length;
                if (isInoculation == "0" && firstDate == "") {
                    layer.msg('请选择第一次接种时间', { time: 1000 });
                    return;
                }
                if (isInoculation == "0" && firstAddress == "") {
                    layer.msg('请输入第一次接种地点', { time: 1000 });
                    return;
                }
                if (isInoculation == "0" && imageIndex == 0) {
                    layer.msg('请上传接种记录图片', { time: 1000 });
                    return;
                }

                var oDate1 = new Date($("#FirstDate").val());
                var oDate2 = new Date($("#SecondDate").val());
                if (oDate1 > oDate2) {
                    layer.msg('第二次接种日期不能小于第一次接种日期', { time: 1000 });
                    return;
                }

                var formFile = new FormData();
                $.each(imgFile, function (i, file) {
                    var fileName = ($("#UserID").val() + $("#name").val().trim() + i) + ".jpg";
                    formFile.append('myFile[]', file, fileName);
                });
                //$.ajax({
                //    url: '/RideCheckFeedback/SurveyVaccination/SaveSurveyImage',
                //    type: 'POST',
                //    data: formFile,
                //    async: true,
                //    cache: false,
                //    contentType: false,
                //    processData: false,
                //    // traditional:true,
                //    dataType: 'json',
                //    success: function (res) {
                //        console.log(res);
                //    }
                //})

                var index = layer.load(1, {
                    shade: [0.5, '#292C34'] //0.1透明度的白色背景
                });
                var form = new FormData();
                //form.append("LicensePlate", $("#cphm").val());
                form.append("Name", $("#name").val());
                form.append("UserID", $("#UserID").val());
                form.append("IsInoculation", isInoculation);
                form.append("FirstDate", $("#FirstDate").val());
                form.append("SecondDate", $("#SecondDate").val());
                form.append("FirstAddress", $("#FirstAddress").val());
                form.append("SecondAddress", $("#SecondAddress").val());
                form.append("VGUID", $("#VGUID").val());
                form.append("CreatedUser", $("#CreatedUser").val());
                form.append("Attachment", $("#Attachment").val());
                $.each(imgFile, function (i, file) {
                    form.append('myFile[]', file);
                });
                $.ajax({
                    url: '/RideCheckFeedback/SurveyVaccination/SaveSurveyVaccination',
                    dataType: 'json',
                    type: 'post',
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (msg) {
                        layer.closeAll();
                        if (msg == "0") {
                            $.toast("提交成功", 3000, function () {
                                WeixinJSBridge.call('closeWindow');
                            });

                        } else if (msg == "1") {
                            layer.alert('提交失败，请稍后重试！', { icon: 2 })
                        }
                    }
                });
            }


            function imgShow(outerdiv, innerdiv, bigimg, _this) {
                var src = _this.attr("src");//获取当前点击的pimg元素中的src属性  
                $(bigimg).attr("src", src);//设置#bigimg元素的src属性  

                /*获取当前点击图片的真实大小，并显示弹出层及大图*/
                $("<img/>").attr("src", src).load(function () {
                    var windowW = $(window).width();//获取当前窗口宽度  
                    var windowH = $(window).height();//获取当前窗口高度  
                    var realWidth = this.width;//获取图片真实宽度  
                    var realHeight = this.height;//获取图片真实高度  
                    var imgWidth, imgHeight;
                    var scale = 1.0;//缩放尺寸，当图片真实宽度和高度大于窗口宽度和高度时进行缩放  

                    if (realHeight > windowH * scale) {//判断图片高度  
                        imgHeight = windowH * scale;//如大于窗口高度，图片高度进行缩放  
                        imgWidth = imgHeight / realHeight * realWidth;//等比例缩放宽度  
                        if (imgWidth > windowW * scale) {//如宽度扔大于窗口宽度  
                            imgWidth = windowW * scale;//再对宽度进行缩放  
                        }
                    } else if (realWidth > windowW * scale) {//如图片高度合适，判断图片宽度  
                        imgWidth = windowW * scale;//如大于窗口宽度，图片宽度进行缩放  
                        imgHeight = imgWidth / realWidth * realHeight;//等比例缩放高度  
                    } else {//如果图片真实高度和宽度都符合要求，高宽不变  
                        imgWidth = realWidth;
                        imgHeight = realHeight;
                    }
                    $(bigimg).css("width", imgWidth);//以最终的宽度对图片缩放  

                    var w = (windowW - imgWidth) / 2;//计算图片与窗口左边距  
                    var h = (windowH - imgHeight) / 2;//计算图片与窗口上边距  
                    $(innerdiv).css({ "top": h, "left": w });//设置#innerdiv的top和left属性  
                    $(outerdiv).fadeIn("fast");//淡入显示#outerdiv及.pimg  
                });

                $(outerdiv).click(function () {//再次点击淡出消失弹出层  
                    $(this).fadeOut("fast");
                });
            }
        </script>
</body>
</html>