@{
    ViewBag.Title = "返乡统计报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@using DaZhongManagementSystem.Entities.TableEntity;


@section pageTitle
{
    @ViewBag.Title
}

@section js
{
    <script src="@Url.Content("~/Areas/ReportManagement/Views/_js/PushMsgReport.js")"></script>
}

@section css
{
    <link href="@Url.Content("~/Areas/ReportManagement/Views/_css/PushMsgReport.css")" rel="stylesheet" />
}

<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 70px">
        <table style="margin-top: 20px; width: 800px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td align="center" style="width: 80px;">年份：</td>
                <td style="width: 210px;">
                    <select>
                        @{
                            int year = DateTime.Now.Year;
                            for (int i = year - 10; i <= year; i++)
                            {
                                if (i == year)
                                {
                                    <option value="@i" selected="selected">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        }

                    </select>
                </td>
                <td align="right">部门</td>
                <td style="width: 210px;">
                    <div id="jqxDepartmentDropDownButton" class="input_text form-control">
                        <div style="" id="jqxTree">
                        </div>
                    </div>
                    <input id="OwnedFleet" type="hidden" class="input_text form-control" />
                </td>
                <td align="right">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe604;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td align="center">
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe603;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
                <td align="left">
                    <button id="btnExport" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe607;</i><span style="margin-left: 7px; float: left;">导出</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<center>
    <div class="mk" style="border-bottom: 0px;">
        <div class="header_mk" style="border-bottom: 0px;">
            <div class="header_icon"></div>
            <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
        </div>

        <div id="rhs" class="jqxTable" style="border-left: 0px; ">
        </div>
    </div>
</center>
<!-- 底部表格 -->
