<!DOCTYPE html>
@{
//var code = ViewBag.code;
//var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
//var exerciseVguid = ViewBag.exerciseVguid;
//var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
//var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");

//var fleetList = ViewBag.MotorcadeName;
}

<style>
    .ax_default .label {
        margin-top: -12px;
    }

    .violCheck {
        border-width: 0px;
        width: 90%;
        font-size: 12px;
        margin-left: 10px;
    }

    .viollabel {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 1px;
        width: 100%;
    }
    #newViolationData2 {
        position: absolute;
        margin-top: 0px !important;
        margin-left: 0px !important; 
        width: 100% !important;
        height: 460px !important;
        overflow: auto;
        border-radius: 8px;
        /* background-color: #ccd0; */
        /* border: 2px; */
        border: 1px solid #cccccc;
    }

    #newAccidentData2 {
        position: absolute;
        margin-top: 0px !important;
        margin-left: 0px !important; 
        width: 100% !important;
        height: 460px !important;
        overflow: auto;
        border-radius: 8px;
        /* background-color: #ccd0; */
        /* border: 2px; */
        border: 1px solid #cccccc;
    }

    /*#u340 {
        top: 55px !important;
        width: 68px !important;
    }

    #u341 {
        left: 68px !important;
        top: 55px !important;
        width: 68px !important;
    }*/

    /*#u397 {
        width: 100% !important;
        left: 0% !important;
        top: -171px !important;
    }

    #u343 {
        width: 100% !important;
        left: 0% !important;
        top: -171px !important;
    }*/
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/swiper-3.3.1.min.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/index2.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/iconfont/iconfont.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/PartnerInquiryStyle.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/NewPartnerHomePage.css")" rel="stylesheet" />
</head>
<body>
    <div style="width:100%;font-size:12px;position: relative;">
        <table style="width:100%;">
            <tr style="font-size: 20px;">
                <td style="font-weight: bold;">
                    车辆管理
                </td>
                <td></td>
            </tr>
        </table>
        <table style="width:100%;color: gray;text-align: center;">
            <tr style="font-size: 14px;font-weight: bold;">
                <td style="width:33%"><div id="u340" class="selected">未处理违章&nbsp;<label id="ElectronicCount"></label></div></td>
                <td style="width:33%"><div id="u341" class="">处理中事故&nbsp;<label id="AccidentCount"></label></div></td>
                <td style="width:33%"></td>
            </tr>
        </table>

        <div id="newViolationData2"></div>
        <div id="newAccidentData2"></div>
    </div>


    <div style="display:none">
        <!-- 未处理违章 (Rectangle) -->
        <div id="u340" class="ax_default box_2 selected" style="cursor: pointer;">
            <div id="u340_div" class="selected" tabindex="0"></div>
            <div id="u340_text" class="text ">
                <p id="cache0" style=""><span id="cache1" style="">未处理违章</span></p>
            </div>
        </div>

        <!-- 处理中事故 (Rectangle) -->
        <div id="u341" class="ax_default box_2" style="cursor: pointer;">
            <div id="u341_div" class="" tabindex="0"></div>
            <div id="u341_text" class="text ">
                <p id="cache2" style=""><span id="cache3" style="">处理中事故</span></p>
            </div>
        </div>

        <!-- 未处理违章详情 (Group) -->
        <div id="u397" class="ax_default" data-label="未处理违章" data-left="88" data-top="255" data-width="232" data-height="295" style="visibility: inherit;">

            <!-- 未处理违章 (Group) -->

            <div id="u398" class="ax_default" data-label="违章" data-left="88" data-top="255" data-width="232" data-height="295">

                <!-- Unnamed (Rectangle) -->

                <div id="u399" class="ax_default box_2">
                    <div id="u399_div" class=""></div>
                    <div id="u399_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                    <div id="newViolationData"></div>
                </div>

            </div>
        </div>

        <!-- 处理中事故详情 (Group) -->
        <div id="u343" class="ax_default hide" data-label="处理中事故" @*style="visibility: hidden; display: none;"*@ data-left="87" data-top="255" data-width="235" data-height="295">

            <div id="u344" class="ax_default" data-label="事故" data-left="0" data-top="0" data-width="0" data-height="0">

                <!-- Unnamed (Rectangle) -->

                <div id="u345" class="ax_default box_2">
                    <div id="u345_div" class=""></div>
                    <div id="u345_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                    <div id="newAccidentData"></div>
                </div>

            </div>
        </div>
    </div>

    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.ui.touch-punch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.slimscroll.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.easy-pie-chart.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/js/jquery.sparkline.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqwidgets/jqx-all.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/ejq.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/_js/tool.js")"></script>
    <script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/swiper-3.3.1.jquery.min.js")"></script>
    @*<script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/11111.js")"></script>*@
    <script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/app.js")"></script>
    <script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/driverCheckDetails.js")"></script>

</body>
</html>