<!DOCTYPE html>
@using DaZhongManagementSystem.Entities.TableEntity;
@{
    Business_RideCheckFeedback rideCheckFeedback = ViewBag.RideCheckFeedback as Business_RideCheckFeedback;
    Business_Personnel_Information user = ViewBag.User as Business_Personnel_Information;
    bool isOpen = Convert.ToBoolean(ViewBag.IsOpen);
    string unuriver = Convert.ToString(ViewBag.isOpenType);
    string completedString = "display: none";
    string unuriverString = "display: none";
    if (!isOpen)
    {
        if (unuriver == "unuriver")
        {
            unuriverString = "";
        }
        else
        {
            completedString = "";
        }
    }
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>大众出租汽车公司同行乘车检查反馈单</title>
    <link href="@Url.Content("~/Areas/RideCheckFeedback/Views/_css/mobileSelect.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/swiper-3.3.1.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/BasicDataManagement/Views/iconfont/iconfont.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/RideCheckFeedback/Views/_css/index2.css")" rel="stylesheet" />

</head>
<body>
    @*答题人Vguid*@
    <input type="hidden" id="PersonVguid" value="@user.Vguid.ToString()" />
    @*习题Vguid*@
    <input type="hidden" id="ExerciseVguid" value="@rideCheckFeedback.VGUID.ToString()" />

    <input type="hidden" id="IsOpen" value="@isOpen" />
    @*答题次数*@
    <input type="hidden" id="maxCount" value="" />
    @* 是否是消息历史界面跳转而来*@
    <input type="hidden" id="isHistory" value="" />
    <input type="hidden" id="txtWechatMain" value="" />
    <input type="hidden" id="txtIsValid" value="" />
    <!--头部-->
    <header>
        <!--分页器-->
        <div class="h_back">
            <div class="fc_left"></div>
            /

            <div class="fc_right"></div>
        </div>
        <!--上一题-->
        <div class="f_last">
            <div class="iconfont itemLast">&#xe621;</div>
            <div class="f_last1">上一题</div>
            <div class="f_lastHide"></div>
        </div>
        <!--提交按钮-->
        <div class="f_center">
            <div class="f_center1">
                <div class="iconfont">&#xe67a;</div>
            </div>
            <div class="f_center2">交卷</div>
        </div>
        <!--下一题-->
        <div class="f_next">
            <div class="iconfont itemNext">&#xe621;</div>
            <div class="f_next1">下一题</div>
            <div class="f_nextHide"></div>
        </div>
        <!--答题卡-->
        <div id="ans">
            <div class="iconfont ans">&#xe622;</div>
            <div class="ans1">答题卡</div>
        </div>
        <!--跳转页面-->
        <div id="success">
            <div>
                <img src="@Url.Content("~/Areas/BasicDataManagement/Views/_img/567925.png")" alt="Alternate Text" />
                <p>本次跳车反馈单已完成，谢谢您的参与！</p>
            </div>
        </div>
        <div id="marking" style="@completedString">
            <div>
                <img src="@Url.Content("~/Areas/BasicDataManagement/Views/_img/567925.png")" alt="Alternate Text" />
                <p> 本月跳车反馈单已全部完成，谢谢配合！</p>
            </div>
        </div>
        <div id="error" style="@unuriverString">
            <div>
                <img src="@Url.Content("~/Areas/BasicDataManagement/Views/_img/Error.png")" alt="Alternate Text" />
                <p>您无权填写跳车反馈单！</p>
            </div>
        </div>
        <div id="errorExprice" style="display: none">
            <div>
                <img src="@Url.Content("~/Areas/BasicDataManagement/Views/_img/Error.png")" alt="Alternate Text" />
                <span>检查单已过期！</span>
            </div>

        </div>
    </header>
    <!--显示上传缓存-->
    <div id="Uploading" style="display: none">
        <div>
            <img src="@Url.Content("~/Areas/BasicDataManagement/Views/_img/5121204193R0.gif")" alt="Alternate Text" />
            <p>上传中...</p>
        </div>
    </div>
    <!--答题卡-->
    <div class="answer">
        @{
            if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 0)
            {
                for (int i = 0; i < rideCheckFeedback.RideCheckFeedback_Items.Count; i++)
                {
                    string active = "active";
                    string background = "";
                    if (i != 8 && i != 0)
                    {
                        active = rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer1 != "" ? "active" : "";
                        if (active == "active")
                        {
                            background = "background: rgb(20, 108, 127);";
                        }
                        if (i == 9)
                        {
                            if (rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer1 == "1" ||
                                rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer2 == "1" ||
                                rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer3 == "1" ||
                                rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer4 == "1" ||
                                rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer5 == "1" ||
                                rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer6 == "1" ||
                                rideCheckFeedback.RideCheckFeedback_Items[i].FeedbackAnswer7 == "1")
                            {
                                active = "active";
                                background = "background: rgb(20, 108, 127);";
                            }
                        }

                    }
                    <div class="ss @active" style="@background">@(i + 1)</div>
                }
            }
        }
    </div>

    <!--上传图片功能-->
    @*    <form id="photo" method="post" enctype="multipart/form-data">
        <div class="ph_t">
        <img id="preview">
        </div>
        <!--上传图片-->
        <div class="file">
        请上传您的头像照
        <input id="file" name="file" type="file" style="margin-top: -1rem;" />
        </div>
        <!--确认上传按钮-->
        <div class="upload">确认上传</div>

        </form>*@

    <!--中间内容-->
    <section>
        <div class="swiper-container kj1 swiper-no-swiping" style="display:none;">
            <div class="swiper-wrapper" style="transform: translate3d(-1920px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide swiper-no-swiping swiper-slide-active" data-swiper-slide-index="0">
                    <div class="s_title">
                        <div class="st_title"><span>[1-基本信息]&nbsp;&nbsp;</span>填写同行乘车检查反馈的基本信息</div>
                    </div>
                    <div class="s_option">
                        <div class="inputItem"><div class="inputItemText">检查人姓名：</div><input id="txt_checkname" onchange="basicInformation()" type="text" readonly="readonly" value="@user.Name" /></div>

                        @{  string checkDate = DateTime.Now.ToString("yyyy-MM-dd");
                            string checkTime = DateTime.Now.ToString("HH:mm");
                            string checkcarnumber = "";
                            string boardinglocation = "";
                            string getoffposition = "";
                            string servicecardnumber = "";
                            if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 0)
                            {
                                checkDate = rideCheckFeedback.RideCheckFeedback_Items[0].FeedbackAnswer1;
                                checkTime = rideCheckFeedback.RideCheckFeedback_Items[0].FeedbackAnswer2;
                                checkcarnumber = rideCheckFeedback.RideCheckFeedback_Items[0].FeedbackAnswer3;
                                boardinglocation = rideCheckFeedback.RideCheckFeedback_Items[0].FeedbackAnswer4;
                                getoffposition = rideCheckFeedback.RideCheckFeedback_Items[0].FeedbackAnswer5;
                                servicecardnumber = rideCheckFeedback.RideCheckFeedback_Items[0].FeedbackAnswer6;
                            }
                            <div class="inputItem"><div class="inputItemText">检 查 日 期：</div><input id="txt_checkdate" onchange="basicInformation()" type="text" value="@checkDate" readonly="readonly" /></div>
                            <div class="inputItem"><div class="inputItemText">检 查 时 间：</div><input id="txt_checktime" onchange="basicInformation()" type="text" value="@checkTime" readonly="readonly" /></div>
                            <div class="inputItem"><div class="inputItemText">受 检 车 号：</div><input id="txt_checkcarnumber" onchange="basicInformation()" type="text" value="@checkcarnumber" /></div>
                            <div class="inputItem"><div class="inputItemText">上 车 地 点：</div><input id="txt_boardinglocation" onchange="basicInformation()" type="text" value="@boardinglocation" /></div>
                            <div class="inputItem"><div class="inputItemText">下 车 地 点：</div><input id="txt_getoffposition" onchange="basicInformation()" type="text" value="@getoffposition" /></div>
                            <div class="inputItem"><div class="inputItemText">服 务 卡 号：</div><input id="txt_servicecardnumber" onchange="basicInformation()" type="text" value="@servicecardnumber" /></div>

                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping swiper-slide-next" data-swiper-slide-index="1">
                    <div class="s_title">
                        <div class="st_title"><span>[2-检查项目]&nbsp;&nbsp;</span>车容车貌</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                string feedbackAnswer5 = "";
                                string feedbackAnswer6 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 1)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[1].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";

                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[1].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[1].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[1].FeedbackAnswer4 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer5 = rideCheckFeedback.RideCheckFeedback_Items[1].FeedbackAnswer5 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer6 = rideCheckFeedback.RideCheckFeedback_Items[1].FeedbackAnswer6 == "1" ? "checked='checked'" : "";
                                }

                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_anecdote" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_anecdote">肇事痕迹</label></div></div>
                                    <div class="inputItem"><input id="ckb_dirtycarriage" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_dirtycarriage">车厢内脏</label></div></div>
                                    <div class="inputItem"><input id="ckb_stainedset" class="inputItemChecbox" type="checkbox" @feedbackAnswer4 @disable /><div class="inputItemText"><label for="ckb_stainedset">做套脏</label></div></div>
                                    <div class="inputItem"><input id="ckb_badservicefacilities" class="inputItemChecbox" type="checkbox" @feedbackAnswer5 @disable /><div class="inputItemText"><label for="ckb_badservicefacilities">服务设施坏</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="2">
                    <div class="s_title">
                        <div class="st_title"><span>[3-检查项目]&nbsp;&nbsp;</span>仪表仪容</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                string feedbackAnswer5 = "";
                                string feedbackAnswer6 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 2)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[2].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";
                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[2].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[2].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[2].FeedbackAnswer4 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer5 = rideCheckFeedback.RideCheckFeedback_Items[2].FeedbackAnswer5 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer6 = rideCheckFeedback.RideCheckFeedback_Items[2].FeedbackAnswer6 == "1" ? "checked='checked'" : "";
                                }
                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_notwearingwhiteshirt" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_notwearingwhiteshirt">未穿白衬衫</label></div></div>
                                    <div class="inputItem"><input id="ckb_withoutgloves" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_withoutgloves">未带手套</label></div></div>
                                    <div class="inputItem"><input id="ckb_leaveandstore" class="inputItemChecbox" type="checkbox" @feedbackAnswer4 @disable /><div class="inputItemText"><label for="ckb_leaveandstore">留发、蓄须</label></div></div>
                                    <div class="inputItem"><input id="ckb_untidyappearance" class="inputItemChecbox" type="checkbox" @feedbackAnswer5 @disable /><div class="inputItemText"><label for="ckb_untidyappearance">仪容不整洁</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="3">
                    <div class="s_title">
                        <div class="st_title"><span>[4-检查项目]&nbsp;&nbsp;</span>空调音响按乘客要求使用？</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 2)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[3].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";
                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[3].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[3].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                }

                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_airconditioning" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_airconditioning">空调</label></div></div>
                                    <div class="inputItem"><input di="ckb_sound" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_sound">音响</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="4">
                    <div class="s_title">
                        <div class="st_title"><span>[5-检查项目]&nbsp;&nbsp;</span>语音及付费方式提醒</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                string feedbackAnswer5 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 4)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[4].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";
                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[4].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[4].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[4].FeedbackAnswer4 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer5 = rideCheckFeedback.RideCheckFeedback_Items[4].FeedbackAnswer5 == "1" ? "checked='checked'" : "";
                                }
                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_aircond" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_aircond">车内报话机语音提示不正常</label></div></div>
                                    <div class="inputItem"><input id="ckb_paymentmethods" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_paymentmethods">司机未问清付费方式</label></div></div>
                                    <div class="inputItem"><input id="ckb_donotforgetitems" class="inputItemChecbox" type="checkbox" @feedbackAnswer4 @disable /><div class="inputItemText"><label for="ckb_donotforgetitems">司机未提示勿忘物品</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="5">
                    <div class="s_title">
                        <div class="st_title"><span>[6-检查项目]&nbsp;&nbsp;</span>问好、致谢、道别</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 2)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[5].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";
                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[5].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[5].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[5].FeedbackAnswer4 == "1" ? "checked='checked'" : "";
                                }
                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_sayhello" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_sayhello">问好</label></div></div>
                                    <div class="inputItem"><input id="ckb_acknowledgement" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_acknowledgement">致谢</label></div></div>
                                    <div class="inputItem"><input id="ckb_goodbye" class="inputItemChecbox" type="checkbox" @feedbackAnswer4 @disable /><div class="inputItemText"><label for="ckb_goodbye">道别</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="6">
                    <div class="s_title">
                        <div class="st_title"><span>[7-检查项目]&nbsp;&nbsp;</span>提醒前排乘客系安全带、行驶中不打电话，不违章</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 6)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[6].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";
                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[6].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[6].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[6].FeedbackAnswer4 == "1" ? "checked='checked'" : "";
                                }
                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_seatbelt" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_seatbelt">安全带</label></div></div>
                                    <div class="inputItem"><input id="ckb_call" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_call">打手机</label></div></div>
                                    <div class="inputItem"><input id="ckb_violation" class="inputItemChecbox" type="checkbox" @feedbackAnswer4 @disable /><div class="inputItemText"><label for="ckb_violation">违章</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="7">
                    <div class="s_title">
                        <div class="st_title"><span>[8-检查项目]&nbsp;&nbsp;</span>不讲脏话、抛物、吐痰</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string optiona = "";
                                string optionb = "";
                                string feedbackAnswer2 = "active";
                                string disable = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 7)
                                {
                                    optiona = rideCheckFeedback.RideCheckFeedback_Items[7].FeedbackAnswer1;
                                    optionb = optiona == "B" ? "active" : "";
                                    optiona = optiona == "A" ? "active" : "";
                                    if (optiona == "active")
                                    {
                                        disable = "disabled='disabled'";
                                    }

                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[7].FeedbackAnswer2 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[7].FeedbackAnswer3 == "1" ? "checked='checked'" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[7].FeedbackAnswer4 == "1" ? "checked='checked'" : "";
                                }
                                <div class="so_p">
                                    <div class="option kk @optiona" namesub="1">A</div>
                                    <div class="title" namesub="1">合格(执行)</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @optionb" namesub="1">B</div>
                                    <div class="title" namesub="1">不合格(执行)</div>
                                </div>
                                <div class="infor">
                                    <div class="inforTitle" namesub="1">单项不合格</div>
                                    <div class="inputItem"><input id="ckb_swearing" class="inputItemChecbox" type="checkbox" @feedbackAnswer2 @disable /><div class="inputItemText"><label for="ckb_swearing">讲脏话</label></div></div>
                                    <div class="inputItem"><input id="ckb_parabolic" class="inputItemChecbox" type="checkbox" @feedbackAnswer3 @disable /><div class="inputItemText"><label for="ckb_parabolic">抛物</label></div></div>
                                    <div class="inputItem"><input id="ckb_spitting" class="inputItemChecbox" type="checkbox" @feedbackAnswer4 @disable /><div class="inputItemText"><label for="ckb_spitting">吐痰</label></div></div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="8">
                    <div class="s_title">
                        <div class="st_title"><span>[9-简答题]&nbsp;&nbsp;</span>意见与建议（反应以上每一项的执行情况）</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string feedbackAnswer1 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 8)
                                {
                                    feedbackAnswer1 = rideCheckFeedback.RideCheckFeedback_Items[8].FeedbackAnswer1;
                                }
                                <div namesub="4">
                                    <textarea style="width: 76%;height: 10rem;margin:5% 10%;padding: 5px;" onchange="LeaveSubmit(this)">@feedbackAnswer1</textarea>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="9">
                    <div class="s_title">
                        <div class="st_title"><span>[10-检查项目]&nbsp;&nbsp;</span>驾驶员服务（请选择以下项目在检查中有不合格项目）</div>
                    </div>
                    <div class="s_option">
                        @{
                            if (true)
                            {
                                string feedbackAnswer1 = "";
                                string feedbackAnswer2 = "";
                                string feedbackAnswer3 = "";
                                string feedbackAnswer4 = "";
                                string feedbackAnswer5 = "";
                                string feedbackAnswer6 = "";
                                string feedbackAnswer7 = "";
                                if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 0)
                                {
                                    feedbackAnswer1 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer1 == "1" ? "active" : "";
                                    feedbackAnswer2 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer2 == "1" ? "active" : "";
                                    feedbackAnswer3 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer3 == "1" ? "active" : "";
                                    feedbackAnswer4 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer4 == "1" ? "active" : "";
                                    feedbackAnswer5 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer5 == "1" ? "active" : "";
                                    feedbackAnswer6 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer6 == "1" ? "active" : "";
                                    feedbackAnswer7 = rideCheckFeedback.RideCheckFeedback_Items[9].FeedbackAnswer7 == "1" ? "active" : "";

                                }
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer1" namesub="2">A</div>
                                    <div class="title" namesub="2">驾驶员车内吸烟</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer2" namesub="2">B</div>
                                    <div class="title" namesub="2">不协助乘客放取行李</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer3" namesub="2">C</div>
                                    <div class="title" namesub="2">驾驶员不帮老助残</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer4" namesub="2">D</div>
                                    <div class="title" namesub="2">不主动给票</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer5" namesub="2">E</div>
                                    <div class="title" namesub="2">未选择合理路线</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer6" namesub="2">F</div>
                                    <div class="title" namesub="2">保险带不整洁</div>
                                </div>
                                <div class="so_p">
                                    <div class="option kk @feedbackAnswer7" namesub="2">G</div>
                                    <div class="title" namesub="2">都合格</div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="swiper-slide swiper-no-swiping" data-swiper-slide-index="10">
                    <div class="s_title">
                        <div class="st_title"><span>[11-上传]&nbsp;&nbsp;</span>上传发票/附件</div>
                    </div>
                    <div class="s_option">
                        <form>
                            @{
                                if (true)
                                {
                                    string feedbackAnswer1 = "/Areas/RideCheckFeedback/Views/_img/add_image.png";
                                    List<Business_RideCheckFeedback_Attachment> attachments = new List<Business_RideCheckFeedback_Attachment>();
                                    if (isOpen && rideCheckFeedback.RideCheckFeedback_Items.Count > 10)
                                    {
                                        feedbackAnswer1 = rideCheckFeedback.RideCheckFeedback_Items[10].FeedbackAnswer1;
                                        if (feedbackAnswer1 == "")
                                        {
                                            feedbackAnswer1 = "/Areas/RideCheckFeedback/Views/_img/add_image.png";
                                        }
                                        attachments = rideCheckFeedback.RideCheckFeedback_Attachments;
                                    }

                                    <div id="invoicediv" class="infor">
                                        <div class="inforTitle" namesub="1">上传发票<span></span></div>
                                        <input type="file" id="upload_Invoice" name="upload_Invoice" class="file" onchange="uploadInvoice(this)" accept="image/*" style="width:90%; padding:0px;display:none;" />
                                        <div style="margin:auto;text-align:center;">
                                            <img id="image_invoice" name="image_invoice" class="image_invoice" src="@feedbackAnswer1" />
                                        </div>
                                    </div>
                                    <hr style="margin-bottom:20px;border: #dcdcdc solid 1px;" />
                                    <div class="infor">
                                        <div class="inforTitle" namesub="1">上传附件</div>
                                        <input type="file" id="upload_Attachment" name="upload_Attachment" onchange="uploadAttachment(this)" class="file" style="width:90%;padding:0px;display:none;" value="" />
                                        <div style="margin:auto;text-align:center;">
                                            <img class="image_attachment" name="image_attachment" src="/Areas/RideCheckFeedback/Views/_img/add_image.png" />
                                        </div>
                                        <ul name="attachmentul">
                                            @if (attachments.Count > 0)
                                            {
                                                foreach (var attachment in attachments)
                                                {
                                                    <li filePath='@attachment.AttachmentPath'><span onclick='deleteAttachment(this)' style='color: red;font-size: 50px;'>×</span>@attachment.AttachmentName</li>
                                                }
                                            }
                                        </ul>
                                    </div>

                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        <!--div悬浮在上方的div上面,让上面的div内容只读-->
        <div id="dvTrans" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: transparent; display: none; z-index: 9999">
        </div>
    </section>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>

    @*<script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>*@
    <script src="@Url.Content("~/_theme/tool/jquery-form.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/swiper-3.3.1.jquery.min.js")"></script>
    <script src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/mobileSelect.js")"></script>
    <script src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/selectDate.js")"></script>
    <script src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/layer.js")"></script>
    <script src="@Url.Content("~/Areas/BasicDataManagement/Views/_js/WeChatExercise/app.js")"></script>
    <script src="@Url.Content("~/Areas/RideCheckFeedback/Views/_js/ridecheckfeedback.js")"></script>
    <script>


    </script>
</body>
</html>
