@using DaZhongManagementSystem.Entities.TableEntity
@using DaZhongManagementSystem.Entities.UserDefinedEntity
<!DOCTYPE html>
@{
    var pushContentModel = ViewData["PushContentModel"] as Business_WeChatPush_Information;
    var isValid = ViewBag.isValidTime;
    var revenueInfo = ViewBag.Revenue as U_Revenue;
}
<html>
<head>
    <meta charset="UTF-8">
    <!--webAPP的一些常用设置-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="@Url.Content("~/Areas/WeChatPush/Views/_css/RevenuePay.css")" rel="stylesheet" />
    <title>营收信息</title>
</head>

<body>
    <input type="hidden" id="txtDriverPay" value="@revenueInfo.Fee" />
    <input type="hidden" id="txtHandlingFee" value="@revenueInfo.FeeMoney" />
    <input type="hidden" id="txtPayException" value="@ViewData["payException"]" />
    <input type="hidden" id="txtIsExist" value="@ViewData["isExist"]" />
    <input type="hidden" id="txtVguid" value="@ViewData["vguid"]" />
    <input type="hidden" id="txtpushContentVguid" value="@ViewData["pushContentVguid"]" />
    <input type="hidden" id="txtDriverId" value="@ViewData["driverId"]" />
    <input type="hidden" id="txtOrganizationId" value="@ViewData["organizationId"]" />
    @{
        if (pushContentModel != null)
        {
            //判断是否过有效期（true已过有效期；false未过有效期）
            <header>
                <div class="h_center">
                    <div class="hc_nav">
                        <img src="@Url.Content("~/Areas/WeChatPush/Views/_img/logo.png")" alt="" />
                        <span>大众出租</span>
                    </div>
                </div>
                <div class="h_bottom">
                    <span>当前您的账户结余情况如下</span>
                </div>
            </header>
            <nav>
                <div class="menue_header">
                    <table style="cursor: pointer;">
                        <tr>
                            <td class="menue_text_header">上期结余金额</td>
                            <td align="right" style="width: 80px; font-weight: normal;padding-right: 0.5rem ">@revenueInfo.TheBalance</td>
                        </tr>
                    </table>
                </div>
                <div class="menue_header">
                    <table style="cursor: pointer;">
                        <tr>
                            <td class="menue_text_header">本期应缴金额  ▽</td>
                            <td align="right" style="width: 80px; font-weight: normal;padding-right: 0.5rem ">@revenueInfo.AmountDue</td>
                        </tr>
                    </table>
                </div>
                <div class="menue_body" style="height:200px;overflow:auto;background-color:#f0f0f0;margin-top: 0px;display:none;">
                    <table>
                        @if (revenueInfo.PaymentInfoList.Count > 0)
                        {
                            foreach (var item in revenueInfo.PaymentInfoList)
                            {
                                <tr class="menue_item" id="">
                                    <td class="menue_text">@item.NAME</td>
                                    <td class="menue_text">@item.VALUE</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="menue_header">
                    <table style="cursor: pointer;">
                        <tr>
                            <td class="menue_text_header">本期已缴金额  ▽</td>
                            <td align="right" style="width: 80px; font-weight: normal; padding-right: 0.5rem">@revenueInfo.CurrentPayment</td>
                        </tr>
                    </table>
                </div>
                <div class="menue_body" style="height:200px;overflow:auto;background-color:#f0f0f0;margin-top: 0px;display:none;">
                    <table>
                       @if (revenueInfo.PaidAmountInfoList.Count > 0)
                       {
                           foreach (var item in revenueInfo.PaidAmountInfoList)
                           {
                            <tr class="menue_item" id="">
                                <td class="menue_text">@item.NAME</td>
                                <td class="menue_text">@item.VALUE</td>
                            </tr>
                           }
                       }
                    </table>
                </div>



                <div class="menue_header">
                    <table style="cursor: pointer;">
                        <tr>
                            <td class="menue_text_header">当前结余金额</td>
                            <td align="right" style="width: 80px; font-weight: normal; padding-right: 0.5rem">@revenueInfo.CurrentAccountBalance</td>
                        </tr>
                    </table>
                </div>

               
            </nav>

            <div class="h_bottom" id="paymentTitle">
                <span>支付</span>
            </div>
            <nav id="paymentContent" style="height: 6rem;">
                <ul>

                    <li class="nav_7">
                        <div>当前应缴金额</div>
                        <div class="n7_num">@revenueInfo.Fee_CurrentAccountBalance</div>@* *@
                    </li>
                    <li class="nav_6">
                        <div>手续费(@revenueInfo.Fee)</div>
                        <div class="n6_num">@revenueInfo.FeeMoney</div>@* *@
                    </li>
                    <li class="nav_8" style="font-weight:bold; ">
                        <div>合计应缴金额</div>
                        <div class="n8_num">@revenueInfo.Fee_TotalAmount</div>@* *@
                    </li>
                </ul>
            </nav>
            <footer>
                <div id="spDriverPay" style="height: 2rem; color: red; font-size: 1rem; margin-left: 0.5rem;"></div>
                @if (ViewData["isExist"] == "0" && !isValid)
                {
                    <div class="f_nav">
                        @*<button class="btn_wc">
                                <img src="@Url.Content("~/Areas/WeChatPush/Views/_img/微信支付.png")" alt="" />
                                <div>微信支付</div>
                            </button>
                            <button class="btn_qt">
                                <img src="@Url.Content("~/Areas/WeChatPush/Views/_img/支付.png")" alt="" />
                                <div>其他支付</div>
                            </button>*@
                        @*<button class="btn_qt">
                                <img src="@Url.Content("~/Areas/WeChatPush/Views/_img/支付.png")" alt="" />
                                <div>支付</div>
                            </button>*@
                        @*<button class="btn_qt">支付</button>*@
                        @*<div class="btn_qt">支付</div>*@
                        <input class="btn_qt" type="button" value="支付" />
                    </div>
                }
            </footer>

        }
        else
        {
            <div class="error" style="display: block">
                <div>
                    <img src="@Url.Content("~/Areas/BasicDataManagement/Views/_img/Error.png")" alt="Alternate Text" />
                    <span>推送内容已删除！！</span>
                </div>
            </div>
        }
    }
    <input type="hidden" id="isValid" value="@isValid" />
    @*<input type="hidden" id="txtOpenId" value="@ViewData["openid"]" />*@
    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    @*<script src="@Url.Content("~/_theme/_js/jweixin-1.0.0.js")"></script>*@
    @*<script src="@Url.Content("~/Areas/WeChatPush/Views/_js/WeChatHistory/app.js")"></script>*@
    @*  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>*@
    <script src="@Url.Content("~/Areas/WeChatPush/Views/_js/RevenuePay.js?v=3333")"></script>

</body>
</html>
