@{
    ViewBag.Title = "成绩报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
    var exerciseCheckedList = ViewBag.exerciseCheckedList as List<Business_Exercises_Infomation>;
    var exportTypeList = ViewBag.exportType as List<CS_Master_2>;
}
@using DaZhongManagementSystem.Entities.TableEntity;


@section pageTitle
{
    @ViewBag.Title
}

@section js
{

    <script src="@Url.Content("~/Areas/ReportManagement/Views/_js/ScoreReport.js")"></script>
    <script src="@Url.Content("~/_theme/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <link href="@Url.Content("~/_theme/bootstrap-datepicker/datepicker.css")" rel="stylesheet" />
    <script src="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqwidgets/jqxdraw.js")"></script>
    <script src="@Url.Content("~/_theme/jqwidgets-ver3.8.1/jqwidgets/jqxchart.core.js")"></script>
    <script src="@Url.Content("~/_theme/_js/chosen.jquery.js")"></script>
}

@*css*@
@section css{
    <link href="@Url.Content("~/Areas/ReportManagement/Views/_css/ScoreReport.css")" rel="stylesheet" />
    <link href="@Url.Content("~/_theme/_css/chosen.css")" rel="stylesheet" />
}
<input type="hidden" id="txtCurrentLoginName" value="@ViewData["currLoginName"]"/>
<input type="hidden" id="txtDeparment" />
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 95px">
        <table id="searchTable" style="margin-top: 20px; width: 910px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td align="center" style="width: 80px;">习题名称：</td>
                <td style="width: 210px;">
                    <select id="ExercisesName_Search" class="input_text form-control">
                        <option value=""></option>
                        @{
                            foreach (var item in exerciseCheckedList)
                            {
                            <option value="@item.Vguid">@item.ExercisesName</option>
                            }
                        }
                    </select>
                </td>
                @{
                  
                    <td align="center" style="width: 80px;">部门:
                    </td>
                    <td style="width: 210px;">
                        <div id="pushPeopleDropDownButton" class="input_text form-control">
                            <div style="" id="pushTree">
                            </div>
                        </div>
                    </td>
                }
                <td align="right">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe604;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td align="center">
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe603;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>
            @{
                if (currentModuleRolePermission.Export == 1)
                {
                <tr style="height: 45px;">
                    <td align="center" style="width: 80px;">导出类型：</td>
                    <td style="width: 210px;">
                        <select id="ExportType_Search" class="input_text form-control">
                            <option value=""></option>
                            @{
                    foreach (var item in exportTypeList)
                    {
                                <option value="@item.MasterCode">@item.DESC0</option>
                    }
                            }
                        </select>
                        @*<input id="ExercisesName_Search" type="text" class="input_text form-control" />*@
                    </td>
                    <td></td>
                    <td></td>
                    <td align="right">
                        <button id="btnExport" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe607;</i><span style="margin-left: 7px; float: left;">导出</span></button>
                    </td>
                </tr>
                }
            }

        </table>
    </div>
</div>
<!-- 中部条件 -->
<input type="hidden" id="VGUID" value="" />




<!-- 底部表格 -->
<center>
<div class="mk" style="border-bottom: 0px;">
    <div class="header_mk" style="border-bottom: 0px;">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据统计</span></div>
    </div>
    <table style="display:none" id="exerciseRateDt">
        <tr>
            <td>
                <div>
                    <span id="chartDesc1"></span>
                </div>
                <div id="chartContainer1" style="width: 400px; height: 200px;"></div>
            </td>
            <td>
                 <div>
                    <span id="chartDesc2"></span>
                </div>
                <div id="chartContainer2" style="width: 400px; height: 200px;"></div>
            </td>
            <td>
                 <div>
                  <span id="chartDesc3"></span>
                </div>
                <div id="chartContainer3" style="width: 400px; height: 200px;"></div>
            </td>
        </tr>
    </table>

    <div id="ExerciseReportList" class="jqxTable" style="border-left: 0px; ">
    </div>
</div>
</center>
<!-- 底部表格 -->

<div class="container">
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ScoreReportDialog">
        <div class="modal-dialog modal-sm" style="width: 100%; padding-right: 20px; margin-top: 100px;">
            <div class="modal-content" style="width: 820px; margin-left: auto; margin-right: auto;">
                <div class="modal-header" style="width: 100%; margin-left: auto; margin-right: auto;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel_title"></h4>
                </div>
                <div class="modal-body" style="width: 100%;">
                    <div id="ExerciseDetailList" class="jqxTable">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancel" type="button" class="btn btn-danger" style="width: 85px; border-color: #16609c!important; background-color: #16609c!important;"><i class="iconfont btn_icon" style="color: white !important; margin-left: 0px;">&#xe606;</i><span style="margin-left: 7px; float: left;">取消</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="ReadsPermission" value="@currentModuleRolePermission.Reads" />
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />
<input type="hidden" id="DeletesPermission" value="@currentModuleRolePermission.Deletes" />
<input type="hidden" id="AddsPermission" value="@currentModuleRolePermission.Adds" />
<input type="hidden" id="SubmitPermission" value="@currentModuleRolePermission.Submit" />
<input type="hidden" id="ApprovedPermission" value="@currentModuleRolePermission.Approved" />
<input type="hidden" id="ImportPermission" value="@currentModuleRolePermission.Import" />
<input type="hidden" id="ExportPermission" value="@currentModuleRolePermission.Export" />



