@using DaZhongManagementSystem.Entities.TableEntity
@{
    ViewBag.Title = "支付报表";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;

}
@section pageTitle
{
    @ViewBag.Title
}

@section js
{
    <script src="@Url.Content("~/Areas/ReportManagement/Views/_js/PaymentReport.js")"></script>
    <script src="@Url.Content("~/_theme/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js")"></script>

}

@section css{

    <link href="@Url.Content("~/_theme/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
}

@{
    if (currentModuleRolePermission.Deletes == 1 || currentModuleRolePermission.Export == 1)
    {
    <table style="margin-top: 10px;">
        <tr style="height: 50px;">
            @if (currentModuleRolePermission.Export == 1)
            { 
                <td>
                    <button id="btnExport" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black!important;">&#xe607;</i><span style="margin-left: 7px; float: left;">导出</span></button>
                </td>
            }
        </tr>
    </table>
    <!-- 顶部按钮 -->
    }
}


<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 100px">
        <table style="margin-top: 20px; width: 1100px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td align="center" style="width: 80px;">人员姓名：</td>
                <td style="width: 210px;">
                    <input id="txtName" type="text" class="input_text form-control" />
                </td>
                <td align="right">手机号：</td>
                <td style="width: 210px;">
                    <input id="txtMobilePhone" type="text" class="input_text form-control" />
                </td>
                <td align="right">部门：</td>
                <td style="width: 210px;">
                    <div id="pushPeopleDropDownButton" class="input_text form-control">
                        <div style="" id="pushTree">
                        </div>
                    </div>
                </td>
            </tr>
            <tr style="height: 45px;">
                <td align="right">付款时间起：</td>
                <td>
                    <input id="txtPaymentForm" type="text" class="input_text form-control" value="@DateTime.Now.AddMonths(-3).ToString("yyyy-MM-dd HH:mm:ss")"/>
                </td>
                <td align="right">付款时间止：</td>
                <td>
                    <input id="txtPaymentTo" type="text" class="input_text form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")"/>
                </td>
                <td align="right">付款状态：</td>
                <td>
                    <select id="selPaymentStatus" class="input_text form-control">
                        <option value="">===请选择===</option>
                        <option value="支付成功">支付成功</option>
                        <option value="支付失败">支付失败</option>
                        <option value="待支付">待支付</option>
                        <option value="已退款">已退款</option>
                    </select>
                </td>
                <td align="right">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe604;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td align="center">
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe603;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<center>
    <div class="mk" style="border-bottom: 0px;">
    <div class="header_mk" style="border-bottom: 0px;">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">图表</span></div>
    </div>
             <div id="chartContainer" style="width:700px;height:400px;float:left"></div>
             <div id="chartContainerMonth" style="width:960px;height:400px;float:left"></div>
</center>
<!-- 底部表格 -->

<div class="mk" style="border-bottom: 0px;clear:both">
    <div class="header_mk" style="border-bottom: 0px;">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
    </div>

    <div id="datatable" class="jqxTable" style="border-left: 0px;">
    </div>
</div>

<!-- 底部表格 -->


<input type="hidden" id="txtDeparment" />
<input type="hidden" id="ReadsPermission" value="@currentModuleRolePermission.Reads" />
<input type="hidden" id="EditPermission" value="@currentModuleRolePermission.Edit" />
<input type="hidden" id="DeletesPermission" value="@currentModuleRolePermission.Deletes" />
<input type="hidden" id="AddsPermission" value="@currentModuleRolePermission.Adds" />
<input type="hidden" id="SubmitPermission" value="@currentModuleRolePermission.Submit" />
<input type="hidden" id="ApprovedPermission" value="@currentModuleRolePermission.Approved" />
<input type="hidden" id="ImportPermission" value="@currentModuleRolePermission.Import" />
<input type="hidden" id="ExportPermission" value="@currentModuleRolePermission.Export" />