<!DOCTYPE html>
@{
//var code = ViewBag.code;
//var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
//var exerciseVguid = ViewBag.exerciseVguid;
//var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
//var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");

//List<string> dateList = ViewBag.DateList;
}

<style>
    #u164 {
        float: right;
        margin-right: 55px;
    }
    #u164_input{
        width:80px;
    }
    #DateSearch{
        height: 15px;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/swiper-3.3.1.min.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/index2.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/iconfont/iconfont.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/PartnerInquiryStyle.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/_theme/bootstrap-datepicker/datepicker.css")" rel="stylesheet" />
        <link href="@Url.Content("~/_theme/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css")" rel="stylesheet" />*@

    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/NewPartnerHomePage.css")" rel="stylesheet" />
</head>
<body style="background-image: linear-gradient(#fff, #00000033);">
    <div style="width:100%;font-size:12px;position: relative;">
        <table style="width:100%;">
            <tr style="font-size: 20px;">
                <td style="font-weight: bold;">
                    营运数据
                </td>
                <td></td>
            </tr>
            <tr style="height:40px">
                <td width="50%">
                    车队：<select id="u164_input" class="u164_input"></select>
                </td>
                <td>
                    日期：<input id="DateSearch" type="date" class="input_text form-control" max="@ViewBag.MaxDate" onchange="loadTaxiSummaryInfo()" />
                </td>
            </tr>
        </table>
        <div style="width:100%;margin-top: -5px;background:#fff;height:185px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 18px;margin-left: 10px;font-weight:bold;">每日营运日报</span>
                    </td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 40px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value1" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value3" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value5" class="valueA"></label></td>
                </tr>
                <tr>
                    <td><label id="value2" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value4" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value6" class="valueB"></label></td>
                </tr>
                <tr>
                    <td class="valueC">总营收</td>
                    <td></td>
                    <td class="valueC">总差次</td>
                    <td></td>
                    <td class="valueC">营运车辆总数</td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 110px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value7" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value9" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%">@*<label id="value11" class="valueA"></label>*@</td>
                </tr>
                <tr>
                    <td><label id="value8" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value10" class="valueB"></label></td>
                    <td></td>
                    <td>@*<label id="value12" class="valueB"></label>*@</td>
                </tr>
                <tr>
                    <td class="valueC">总线上营收</td>
                    <td></td>
                    <td class="valueC">总线上差次</td>
                    <td></td>
                    <td class="valueC"></td>
                </tr>
            </table>
        </div>
        <div style="width:100%;margin-top: 10px;background:#fff;height:250px;border-radius: 12px;">
            <table style="width:100%;position: absolute;margin-top: 5px;">
                <tr>
                    <td>
                        <span style="font-size: 18px;margin-left: 10px;font-weight:bold;">每日营运均值</span>
                    </td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 40px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value11" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value13" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"></td>
                </tr>
                <tr>
                    <td><label id="value12" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value14" class="valueB"></label></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="valueC">车均营收</td>
                    <td></td>
                    <td class="valueC">车均差次</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 110px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value15" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value17" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"></td>
                </tr>
                <tr>
                    <td><label id="value16" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value18" class="valueB"></label></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="valueC">车均线上营收</td>
                    <td></td>
                    <td class="valueC">车均线上差次</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table style="width:100%;position: absolute;margin-top: 180px;margin-left: 10px;">
                <tr>
                    <td style="width:20%"><label id="value19" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value21" class="valueA"></label></td>
                    <td style="width:8%"></td>
                    <td style="width:20%"><label id="value23" class="valueA"></label></td>
                </tr>
                <tr>
                    <td><label id="value20" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value22" class="valueB"></label></td>
                    <td></td>
                    <td><label id="value24" class="valueB"></label></td>
                </tr>
                <tr>
                    <td class="valueC">车均行驶里程</td>
                    <td></td>
                    <td class="valueC">车均营运里程</td>
                    <td></td>
                    <td class="valueC">车均空驶里程</td>
                </tr>
            </table>
        </div>
    </div>

    <!--中间内容-->

    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
    <script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/operatingData.js")"></script>
</body>
</html>