@{
    ViewBag.Title = "答题统计报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentModuleRolePermission = ViewBag.CurrentModulePermission as Sys_Role_Module;
}
@using DaZhongManagementSystem.Entities.TableEntity;


@section pageTitle
{
    @ViewBag.Title
}

@section js
{
    <script src="@Url.Content("~/Areas/ReportManagement/Views/_js/ExerciseTotalReport.js")"></script>
    <script src="@Url.Content("~/_theme/bootstrap-datepicker/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/_theme/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/_theme/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js")"></script>
}

@section css
{
    <link href="@Url.Content("~/Areas/ReportManagement/Views/_css/PushMsgReport.css")" rel="stylesheet" />
    <link href="@Url.Content("~/_theme/bootstrap-datepicker/datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/_theme/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
}
<style>
    .dropdown-menu {
        min-width: 230px;
        z-index: 999 !important;
    }

    .ui-datepicker-calendar {
        display: none;
    }
</style>
<!-- 中部条件 -->
<div class="mk">
    <div class="header_mk">
        <div class="header_icon"></div>
        <div class="header_text_div"><span class="header_text_span">查询</span></div>
    </div>
    <div class="body_mk" style="height: 70px">
        <table style="margin-top: 20px; width: 1200px; margin-left: 20px;">
            <tr style="height: 45px;">
                <td align="right" style="width: 80px;">开始年月：</td>
                <td style="width: 210px;">
                    <input id="StartDate" type="text" class="input_text form-control" value="@DateTime.Now.Year.ToString()-01" />
                </td>
                <td align="right" style="width: 80px;">结束年月：</td>
                <td style="width: 210px;">
                    <input id="EndDate" type="text" class="input_text form-control" value="@DateTime.Now.ToString("yyyy-MM")" />
                </td>
                <td align="right" style="width: 80px;">部门：</td>
                <td style="width: 210px;">
                    <div id="jqxDepartmentDropDownButton" class="input_text form-control">
                        <div style="width: 285px;" id="jqxTree">
                        </div>
                    </div>
                    <input id="OwnedFleet" type="hidden" class="input_text form-control" />
                </td>
                <td align="right">
                    <button id="btnSearch" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe604;</i><span style="margin-left: 7px; float: left;">查询</span></button>
                </td>
                <td align="center">
                    <button id="btnReset" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe603;</i><span style="margin-left: 7px; float: left;">重置</span></button>
                </td>
                <td align="left">
                    <button id="btnExport" type="button" class="buttons"><i class="iconfont btn_icon" style="color: black !important;">&#xe607;</i><span style="margin-left: 7px; float: left;">导出</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 中部条件 -->
<!-- 底部表格 -->
<center>
    <div class="mk" style="border-bottom: 0px;">
        <div class="header_mk" style="border-bottom: 0px;">
            <div class="header_icon"></div>
            <div class="header_text_div"><span class="header_text_span">数据列表</span></div>
        </div>

        <div id="rhs" class="jqxTable" style="border-left: 0px; ">
        </div>
    </div>
</center>
<!-- 底部表格 -->
