@using DaZhongManagementSystem.Entities.TableEntity
<!DOCTYPE html>
@{
    var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
    var corpId = SyntacticSugar.ConfigSugar.GetAppString("CorpID");
    var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>消息历史</title>
    <link href="@Url.Content("/Areas/WeChatPush/Views/_css/WeChatHistory/common.css")" rel="stylesheet" />
    <link href="@Url.Content("/Areas/WeChatPush/Views/_css/WeChatHistory/dataList.css")" rel="stylesheet" />
    <!--swiper样式-->
    <link href="@Url.Content("/Areas/WeChatPush/Views/_css/WeChatHistory/swiper.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Areas/WeChatPush/Views/_css/WeChatHistory/bootstrap.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Areas/WeChatPush/Views/_css/WeChatHistory/swiperitem.css")"cover" style="display:none">
</head>
<body>
    <input type="hidden" id="PersonVguid" value="@personInfo.Vguid" />
    <input type="hidden"  id="openHttpAddress" value="@openHttpAddress"/>
    <input type="hidden"  id="corpId" value="@corpId"/>
    @*     <input type="hidden" id="PersonVguid" value="726b4c9f-0b5a-4d5b-a8ee-5ba95c38c4c7" />*@
    <!--加载数据的遮板-->
    <div class="cover" style="display: none">
        <img src="/Areas/WeChatPush/Views/_css/images/JZ.gif" alt="Alternate Text" />
    </div>
    <!--swiper样式-->
    @*<div class="swiper-container">
        <div class="swiper-wrapper" id="swiper-wrapper" style="width: 100%; height: 100%; overflow-y: hidden;">
        </div>

        <!-- Add Scroll Bar -->
        <div class="swiper-scrollbar"></div>
    </div>*@
    <div class="wrapper" id="swiper-wrapper" style="width: 100%; height: 736px; overflow-y: auto; padding: 0 12px 0 12px; background-color: white">
    </div>
    <script src="@Url.Content("/Areas/WeChatPush/Views/_js/WeChatHistory/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("/Areas/WeChatPush/Views/_js/WeChatHistory/app.js")"></script>
    <!--swiper样式-->
    <script src="@Url.Content("/Areas/WeChatPush/Views/_js/WeChatHistory/dataList.js")"></script>
</body>

</html>
