<!DOCTYPE html>
@{
//var code = ViewBag.code;
//var personInfo = ViewBag.PersonInfo as Business_Personnel_Information;
//var exerciseVguid = ViewBag.exerciseVguid;
//var openHttpAddress = SyntacticSugar.ConfigSugar.GetAppString("OpenHttpAddress");
//var corpID = SyntacticSugar.ConfigSugar.GetAppString("CorpID");

//var fleetList = ViewBag.MotorcadeName;
}

<style>
    /*.ax_default .label {
        margin-top: -12px;
    }
    #newViolationData{
        position: absolute;
        background-color: rgba(242, 242, 242, 1) !important;
        width: 100%;
    }
    #newAccidentData{
        position: absolute;
        background-color: rgba(242, 242, 242, 1) !important;
        width: 100%;
    }
    #newOperationData{
        position: absolute;
        background-color: rgba(242, 242, 242, 1) !important;
        width: 100%;
    }*/


    #u416 {
        float: right;
        margin-right: 55px;
    }

    #u416_input {
        width: 100px;
    }

    #DateSearch {
        height: 15px;
    }

    .violCheck {
        border-width: 0px;
        width: 90%;
        font-size: 12px;
        margin-left: 10px;
    }

    .viollabel {
        margin-top: 4px;
        font-size: 12px;
        margin-left: 1px;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="blank">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/swiper-3.3.1.min.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/_css/WeChatExercise/index2.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/BasicDataManagement/Views/iconfont/iconfont.css")" rel="stylesheet" />*@
    @*<link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/PartnerInquiryStyle.css")" rel="stylesheet" />*@

    <link href="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_css/NewPartnerHomePage.css")" rel="stylesheet" />

</head>
<body style="background-color: #fff;">
    <div style="width:100%;font-size:12px;position: relative;">
        <table style="width:100%;">
            <tr style="font-size: 20px;">
                <td style="font-weight: bold;">
                    车辆管理
                </td>
                <td></td>
            </tr>
            <tr style="height:40px">
                <td width="50%">
                    <div style="margin-left: 7px;"><select id="u416_input" class="u416_input"></select></div>
                </td>
                <td>
                    <div id="DateDiv"><input id="DateSearch" type="date" class="input_text form-control" max="@ViewBag.MaxDate" onchange="loadInfo()" /></div>
                </td>
            </tr>
        </table>
        <table style="width:100%;color: gray;text-align: center;">
            <tr style="font-size: 14px;font-weight: bold;">
                <td style="width:34%"><div id="u340" class="selected">未处理违章&nbsp;<label id="ElectronicCount"></label></div></td>
                <td style="width:33%"><div id="u341" class="">处理中事故&nbsp;<label id="AccidentCount"></label></div></td>
                <td style="width:33%"><div id="u342" class="">搁车明细&nbsp;<label id="OperationCount"></label></div></td>
            </tr>
        </table>
        <input id="SearchByCarID" type="text" style="" class="searchInput" placeholder="输入车牌号搜索" />
        <div id="newViolationData2"></div>
        <div id="newAccidentData2"></div>
        <div id="newOperationData2"></div>
    </div>

    <script src="@Url.Content("~/_theme/js/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/_theme/tool/jquery-form.min.js")"></script>
    <script src="@Url.Content("~/Areas/PartnerInquiryManagement/Views/_js/carManagement.js")"></script>

</body>
</html>